@charset "UTF-8";
/* ******* EXERCÍCIO DESKTOP ******* */
@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Muli:400);
.animate, footer a, #contacts > .col4BP1.formcontainer .form form button, #clients .clientslist img {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.clearfix::after, .gridrowfull::after, .gridrow::after {
  content: "";
  clear: both;
  display: table;
}

.textleft {
  text-align: left;
}

.textcenter, body > header .textoverlay {
  text-align: center;
}

.textright {
  text-align: right;
}

.primary {
  color: #E7194F;
}

.secondary, footer a, #services .serviceslist .iconz {
  color: #00BEC5;
}

.graydark, #services .serviceslist p {
  color: #777;
}

.gray {
  color: #CCC;
}

.graylight {
  color: #F3F3F3;
}

.white, #contacts > .col4BP1.formcontainer .form form button {
  color: #FFF;
}

.imgfit {
  display: block;
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.floatLeft {
  float: left;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "iconz";
  src: url("../fonts/iconz.eot?6to4jc");
  src: url("../fonts/iconz.eot?6to4jc#iefix") format("embedded-opentype"), url("../fonts/iconz.ttf?6to4jc") format("truetype"), url("../fonts/iconz.woff?6to4jc") format("woff"), url("../fonts/iconz.svg?6to4jc#iconz") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icz], [class*=" icz"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "iconz" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iczarrow:before {
  content: "";
}

.iczbehance:before {
  content: "";
}

.iczdev:before {
  content: "";
}

.iczdribbble:before {
  content: "";
}

.iczfacebook:before {
  content: "";
}

.iczinstagram:before {
  content: "";
}

.iczmkt:before {
  content: "";
}

.icztwitter:before {
  content: "";
}

.iczhamburger:before {
  content: "";
}

.iczclose:before {
  content: "";
}

.iczdsgn:before {
  content: "";
}

body {
  font-family: "Muli", sans serif;
  color: #000;
  font-size: 18px;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Montserrat", sans serif;
}

/*@mixin mx-gridrow($vGridwidth){


    @if($vGridwidth == $gridwidth-l0){
        .gridrow{
            width: $vGridwidth;
            margin: 0 auto;
        }
    }

   // De 400px para cima
    @if($vGridwidth == $gridwidth-l1){
        @media only screen and (min-width: $vGridwidth){
            .gridrow{
                width: $vGridwidth;
                margin: 0 auto;
            }
        }
    }    

    // De 800px para cima
    @if($vGridwidth == $gridwidth-l2){
        @media only screen and (min-width: $vGridwidth){
            .gridrow{
                width: $vGridwidth;
                margin: 0 auto;
            }
        }
    }

    // De 1200px para cima
    @if($vGridwidth == $gridwidth-l3){
        @media only screen and (min-width: $vGridwidth){
            .gridrow{
                width: $vGridwidth;
                margin: 0 auto;
            }
        }
    }
}*/
.gridrowfull {
  width: 100%;
}

/*
.gridrow{
    width: $gridwidth;
    margin: 0 auto;
}*/
/*@include mx-gridrow($gridwidth-l0);
@include mx-gridrow($gridwidth-l1);
@include mx-gridrow($gridwidth-l2);
@include mx-gridrow($gridwidth-l3);*/
.gridrow {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 400px) {
  .gridrow {
    width: 400px;
  }
}
@media (min-width: 800px) {
  .gridrow {
    width: 800px;
  }
}
@media (min-width: 1200px) {
  .gridrow {
    width: 1200px;
  }
}

.gridrowfull .col1BP1, .gridrow .col1BP1 {
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.gridrowfull .col1BP1NonFloat, .gridrow .col1BP1NonFloat {
  box-sizing: border-box;
  width: 25%;
  padding-left: 20px;
  padding-right: 20px;
}
.gridrowfull .col1BP1Flex, .gridrow .col1BP1Flex {
  box-sizing: border-box;
  width: 25%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.gridrowfull .col1BP1FlexColumn, .gridrow .col1BP1FlexColumn {
  box-sizing: border-box;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.gridrowfull .offset1, .gridrow .offset1 {
  margin-left: 25%;
}
.gridrowfull .col2BP1, .gridrow .col2BP1 {
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.gridrowfull .col2BP1NonFloat, .gridrow .col2BP1NonFloat {
  box-sizing: border-box;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}
.gridrowfull .col2BP1Flex, .gridrow .col2BP1Flex {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.gridrowfull .col2BP1FlexColumn, .gridrow .col2BP1FlexColumn {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.gridrowfull .offset2, .gridrow .offset2 {
  margin-left: 50%;
}
.gridrowfull .col3BP1, .gridrow .col3BP1 {
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.gridrowfull .col3BP1NonFloat, .gridrow .col3BP1NonFloat {
  box-sizing: border-box;
  width: 75%;
  padding-left: 20px;
  padding-right: 20px;
}
.gridrowfull .col3BP1Flex, .gridrow .col3BP1Flex {
  box-sizing: border-box;
  width: 75%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.gridrowfull .col3BP1FlexColumn, .gridrow .col3BP1FlexColumn {
  box-sizing: border-box;
  width: 75%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.gridrowfull .offset3, .gridrow .offset3 {
  margin-left: 75%;
}
.gridrowfull .col4BP1, .gridrow .col4BP1 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.gridrowfull .col4BP1NonFloat, .gridrow .col4BP1NonFloat {
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.gridrowfull .col4BP1Flex, .gridrow .col4BP1Flex {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.gridrowfull .col4BP1FlexColumn, .gridrow .col4BP1FlexColumn {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.gridrowfull .offset4, .gridrow .offset4 {
  margin-left: 100%;
}
.gridrowfull.nogutter .col1, .gridrow.nogutter .col1 {
  padding: 0;
}
.gridrowfull.nogutter .col2, .gridrow.nogutter .col2 {
  padding: 0;
}
.gridrowfull.nogutter .col3, .gridrow.nogutter .col3 {
  padding: 0;
}
.gridrowfull.nogutter .col4, .gridrow.nogutter .col4 {
  padding: 0;
}
@media only screen and (min-width: 400px) {
  .gridrowfull .col1BP2, .gridrow .col1BP2 {
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }
  .gridrowfull .offset1, .gridrow .offset1 {
    margin-left: 25%;
  }
  .gridrowfull .col2BP2, .gridrow .col2BP2 {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }
  .gridrowfull .offset2, .gridrow .offset2 {
    margin-left: 50%;
  }
  .gridrowfull .col3BP2, .gridrow .col3BP2 {
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }
  .gridrowfull .offset3, .gridrow .offset3 {
    margin-left: 75%;
  }
  .gridrowfull .col4BP2, .gridrow .col4BP2 {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }
  .gridrowfull .offset4, .gridrow .offset4 {
    margin-left: 100%;
  }
  .gridrowfull.nogutter .col1, .gridrow.nogutter .col1 {
    padding: 0;
  }
  .gridrowfull.nogutter .col2, .gridrow.nogutter .col2 {
    padding: 0;
  }
  .gridrowfull.nogutter .col3, .gridrow.nogutter .col3 {
    padding: 0;
  }
  .gridrowfull.nogutter .col4, .gridrow.nogutter .col4 {
    padding: 0;
  }
}
@media only screen and (min-width: 800px) {
  .gridrowfull .col1BP3, .gridrow .col1BP3 {
    box-sizing: border-box;
    width: 12.5%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset1, .gridrow .offset1 {
    margin-left: 12.5%;
  }
  .gridrowfull .col2BP3, .gridrow .col2BP3 {
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset2, .gridrow .offset2 {
    margin-left: 25%;
  }
  .gridrowfull .col3BP3, .gridrow .col3BP3 {
    box-sizing: border-box;
    width: 37.5%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset3, .gridrow .offset3 {
    margin-left: 37.5%;
  }
  .gridrowfull .col4BP3, .gridrow .col4BP3 {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset4, .gridrow .offset4 {
    margin-left: 50%;
  }
  .gridrowfull .col5BP3, .gridrow .col5BP3 {
    box-sizing: border-box;
    width: 62.5%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset5, .gridrow .offset5 {
    margin-left: 62.5%;
  }
  .gridrowfull .col6BP3, .gridrow .col6BP3 {
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset6, .gridrow .offset6 {
    margin-left: 75%;
  }
  .gridrowfull .col7BP3, .gridrow .col7BP3 {
    box-sizing: border-box;
    width: 87.5%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset7, .gridrow .offset7 {
    margin-left: 87.5%;
  }
  .gridrowfull .col8BP3, .gridrow .col8BP3 {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .gridrowfull .offset8, .gridrow .offset8 {
    margin-left: 100%;
  }
  .gridrowfull.nogutter .col1, .gridrow.nogutter .col1 {
    padding: 0;
  }
  .gridrowfull.nogutter .col2, .gridrow.nogutter .col2 {
    padding: 0;
  }
  .gridrowfull.nogutter .col3, .gridrow.nogutter .col3 {
    padding: 0;
  }
  .gridrowfull.nogutter .col4, .gridrow.nogutter .col4 {
    padding: 0;
  }
  .gridrowfull.nogutter .col5, .gridrow.nogutter .col5 {
    padding: 0;
  }
  .gridrowfull.nogutter .col6, .gridrow.nogutter .col6 {
    padding: 0;
  }
  .gridrowfull.nogutter .col7, .gridrow.nogutter .col7 {
    padding: 0;
  }
  .gridrowfull.nogutter .col8, .gridrow.nogutter .col8 {
    padding: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .gridrowfull .col1, .gridrow .col1 {
    box-sizing: border-box;
    width: 8.3333333333%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset1, .gridrow .offset1 {
    margin-left: 8.3333333333%;
  }
  .gridrowfull .col2, .gridrow .col2 {
    box-sizing: border-box;
    width: 16.6666666667%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset2, .gridrow .offset2 {
    margin-left: 16.6666666667%;
  }
  .gridrowfull .col3, .gridrow .col3 {
    box-sizing: border-box;
    width: 25%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset3, .gridrow .offset3 {
    margin-left: 25%;
  }
  .gridrowfull .col4, .gridrow .col4 {
    box-sizing: border-box;
    width: 33.3333333333%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset4, .gridrow .offset4 {
    margin-left: 33.3333333333%;
  }
  .gridrowfull .col5, .gridrow .col5 {
    box-sizing: border-box;
    width: 41.6666666667%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset5, .gridrow .offset5 {
    margin-left: 41.6666666667%;
  }
  .gridrowfull .col6, .gridrow .col6 {
    box-sizing: border-box;
    width: 50%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset6, .gridrow .offset6 {
    margin-left: 50%;
  }
  .gridrowfull .col7, .gridrow .col7 {
    box-sizing: border-box;
    width: 58.3333333333%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset7, .gridrow .offset7 {
    margin-left: 58.3333333333%;
  }
  .gridrowfull .col8, .gridrow .col8 {
    box-sizing: border-box;
    width: 66.6666666667%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset8, .gridrow .offset8 {
    margin-left: 66.6666666667%;
  }
  .gridrowfull .col9, .gridrow .col9 {
    box-sizing: border-box;
    width: 75%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset9, .gridrow .offset9 {
    margin-left: 75%;
  }
  .gridrowfull .col10, .gridrow .col10 {
    box-sizing: border-box;
    width: 83.3333333333%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset10, .gridrow .offset10 {
    margin-left: 83.3333333333%;
  }
  .gridrowfull .col11, .gridrow .col11 {
    box-sizing: border-box;
    width: 91.6666666667%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset11, .gridrow .offset11 {
    margin-left: 91.6666666667%;
  }
  .gridrowfull .col12, .gridrow .col12 {
    box-sizing: border-box;
    width: 100%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset12, .gridrow .offset12 {
    margin-left: 100%;
  }
  .gridrowfull.nogutter .col1, .gridrow.nogutter .col1 {
    padding: 0;
  }
  .gridrowfull.nogutter .col2, .gridrow.nogutter .col2 {
    padding: 0;
  }
  .gridrowfull.nogutter .col3, .gridrow.nogutter .col3 {
    padding: 0;
  }
  .gridrowfull.nogutter .col4, .gridrow.nogutter .col4 {
    padding: 0;
  }
  .gridrowfull.nogutter .col5, .gridrow.nogutter .col5 {
    padding: 0;
  }
  .gridrowfull.nogutter .col6, .gridrow.nogutter .col6 {
    padding: 0;
  }
  .gridrowfull.nogutter .col7, .gridrow.nogutter .col7 {
    padding: 0;
  }
  .gridrowfull.nogutter .col8, .gridrow.nogutter .col8 {
    padding: 0;
  }
  .gridrowfull.nogutter .col9, .gridrow.nogutter .col9 {
    padding: 0;
  }
  .gridrowfull.nogutter .col10, .gridrow.nogutter .col10 {
    padding: 0;
  }
  .gridrowfull.nogutter .col11, .gridrow.nogutter .col11 {
    padding: 0;
  }
  .gridrowfull.nogutter .col12, .gridrow.nogutter .col12 {
    padding: 0;
  }
}

/*@mixin mx-line-height($gridwidth, $gridgutter){
    @if($gridwidth == $gridwidth-l0){
        line-height: $gridgutter;
    }
    @if($gridwidth == $gridwidth-l1){
        @media only screen and (min-width: $gridwidth){
            line-height: $gridgutter;
        }
    }
    @if($gridwidth == $gridwidth-l2){
        @media only screen and (min-width: $gridwidth){
            line-height: $gridgutter;
        }
    }
    @if($gridwidth == $gridwidth-l3){
        @media only screen and (min-width: $gridwidth){
            line-height: $gridgutter;
        }
    }
}*/
body > header {
  height: 100vh;
  background-image: url(../imgs/header.jpg);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}
body > header nav a {
  text-decoration: none;
  color: #000;
}
body > header nav a.logo {
  font-size: 30px;
  font-family: "Montserrat", sans serif;
}
@media only screen and (min-width: 400px) {
  body > header nav a.logo {
    font-size: 30px;
  }
}
@media only screen and (min-width: 800px) {
  body > header nav a.logo {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  body > header nav a.logo {
    font-size: 30px;
  }
}
body > header nav a.hamburgermenu {
  font-size: 24px;
}
body > header .textoverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
body > header .textoverlay h1 {
  font-size: 73px;
}
@media only screen and (min-width: 400px) {
  body > header .textoverlay h1 {
    font-size: 50px;
  }
}
@media only screen and (min-width: 800px) {
  body > header .textoverlay h1 {
    font-size: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  body > header .textoverlay h1 {
    font-size: 150px;
  }
}
body > header .textoverlay h3 {
  font-size: 28px;
}
@media only screen and (min-width: 400px) {
  body > header .textoverlay h3 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 800px) {
  body > header .textoverlay h3 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  body > header .textoverlay h3 {
    font-size: 60px;
  }
}
body > header .textoverlay h1, body > header .textoverlay h3 {
  margin: 0;
}

body > header nav {
  padding-top: 30px;
}
body > header nav a {
  line-height: 10px;
}

@media only screen and (min-width: 400px) {
  body > header nav {
    padding-top: 15px;
  }
  body > header nav a {
    line-height: 10px;
  }
}
@media only screen and (min-width: 800px) {
  body > header nav {
    padding-top: 30px;
  }
  body > header nav a {
    line-height: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  body > header nav {
    padding-top: 45px;
  }
  body > header nav a {
    line-height: 30px;
  }
}
.aboutline1 {
  position: relative;
  z-index: 2;
}
.aboutline1 h4 {
  margin: 0;
}
.aboutline1 h4 .iczarrow {
  font-size: 28px;
}

.aboutline2 {
  position: relative;
  z-index: 1;
}

#services h2 {
  margin: 0;
}
#services {
  margin-top: 140px;
}
#services H2 {
  font-size: 56px;
}

@media only screen and (min-width: 400px) {
  #services {
    margin-top: 0px;
  }
  #services H2 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 800px) {
  #services {
    margin-top: 0px;
  }
  #services H2 {
    font-size: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  #services {
    margin-top: 0px;
  }
  #services H2 {
    font-size: 90px;
  }
}
#services .serviceslist H3 {
  font-size: 30px;
}

@media only screen and (min-width: 400px) {
  #services .serviceslist H3 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 800px) {
  #services .serviceslist H3 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  #services .serviceslist H3 {
    font-size: 24px;
  }
}
#services .serviceslist .iconz {
  font-size: 112px;
}

@media only screen and (min-width: 400px) {
  #services .serviceslist .iconz {
    font-size: 20px;
  }
}
@media only screen and (min-width: 800px) {
  #services .serviceslist .iconz {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  #services .serviceslist .iconz {
    font-size: 64px;
  }
}
#about .aboutline2 {
  top: -10px;
}

@media only screen and (min-width: 400px) {
  #about .aboutline2 {
    top: -40px;
  }
}
@media only screen and (min-width: 800px) {
  #about .aboutline2 {
    top: -80px;
  }
}
@media only screen and (min-width: 1200px) {
  #about .aboutline2 {
    top: -120px;
  }
}
#about .aboutline1 {
  margin-top: 10px;
}

@media only screen and (min-width: 400px) {
  #about .aboutline1 {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 800px) {
  #about .aboutline1 {
    margin-top: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  #about .aboutline1 {
    margin-top: 120px;
  }
}
#about .aboutline1 h4 {
  font-size: 30px;
  margin-bottom: 60px;
}

@media only screen and (min-width: 400px) {
  #about .aboutline1 h4 {
    font-size: 36px;
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 800px) {
  #about .aboutline1 h4 {
    font-size: 36px;
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  #about .aboutline1 h4 {
    font-size: 36px;
    margin-bottom: 60px;
  }
}
#services .serviceslist {
  margin-top: 30px;
}
#services .serviceslist p {
  font-size: 18px;
  text-align: center;
}

.imggrid {
  margin-top: 40px;
}

@media only screen and (min-width: 400px) {
  .imggrid {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 800px) {
  .imggrid {
    margin-top: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  .imggrid {
    margin-top: 120px;
  }
}
#clients h2 {
  margin: 0;
}
#clients .clientslist img {
  box-sizing: border-box;
  opacity: 0.4;
}
#clients .clientslist img:hover {
  opacity: 1;
}

#clients {
  margin-top: 40px;
}

.clientslist {
  margin-top: 20px;
}
.clientslist img {
  padding: 5px;
}

@media only screen and (min-width: 400px) {
  #clients {
    margin-top: 40px;
  }

  .clientslist {
    margin-top: 20px;
  }
  .clientslist img {
    padding: 5px;
  }
}
@media only screen and (min-width: 800px) {
  #clients {
    margin-top: 80px;
  }

  .clientslist {
    margin-top: 40px;
  }
  .clientslist img {
    padding: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  #clients {
    margin-top: 120px;
  }

  .clientslist {
    margin-top: 60px;
  }
  .clientslist img {
    padding: 15px;
  }
}
#clients H2 {
  font-size: 56px;
}

@media only screen and (min-width: 400px) {
  #clients H2 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 800px) {
  #clients H2 {
    font-size: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  #clients H2 {
    font-size: 90px;
  }
}
#contacts {
  margin-top: 90px;
  background-color: #F3F3F3;
  display: block;
}
#contacts > .col4BP1.formcontainer {
  padding-right: 10px;
  padding-left: 10px;
}
#contacts > .col4BP1.formcontainer .form {
  display: block;
  float: right;
  padding-bottom: 20px;
}
#contacts > .col4BP1.formcontainer .form form h2 {
  font-size: 56px;
  margin: 90px 0 0;
}
#contacts > .col4BP1.formcontainer .form form p {
  margin: 45px 0;
}
#contacts > .col4BP1.formcontainer .form form input {
  margin: 0 0 20px;
  border: 2px solid #CCC;
  width: 73%;
  line-height: 22px;
  padding: 21px 64px 23px 24px;
}
#contacts > .col4BP1.formcontainer .form form input:focus {
  border-color: #00BEC5;
}
#contacts > .col4BP1.formcontainer .form form textarea {
  margin: 0 0 20px;
  border: 2px solid #CCC;
  width: 73%;
  line-height: 22px;
  padding: 21px 64px 139px 24px;
}
#contacts > .col4BP1.formcontainer .form form textarea:focus {
  border-color: #00BEC5;
}
#contacts > .col4BP1.formcontainer .form form button {
  background-color: #E7194F;
  text-transform: uppercase;
  line-height: 22px;
  padding: 17px 30px;
  border: none;
  cursor: pointer;
}
#contacts > .col4BP1.formcontainer .form form button:hover {
  background-color: #00BEC5;
}
#contacts > .col4BP1#map {
  background-image: url(../imgs/map.JPG);
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  width: 100%;
  height: 307px;
}
@media (min-width: 1200px) {
  #contacts {
    margin-top: 90px;
    background-color: #F3F3F3;
    display: flex;
  }
  #contacts > .col6.formcontainer {
    padding-right: 15px;
  }
  #contacts > .col6.formcontainer .form {
    display: block;
    float: right;
    width: 570px;
    padding-bottom: 60px;
  }
  #contacts > .col6.formcontainer .form form h2 {
    font-size: 72px;
    margin: 90px 0 0;
  }
  #contacts > .col6.formcontainer .form form p {
    margin: 45px 0;
  }
  #contacts > .col6.formcontainer .form form input, #contacts > .col6.formcontainer .form form textarea {
    margin: 0 0 20px;
    border: 2px solid #CCC;
    width: 100%;
    line-height: 22px;
    padding: 17px 15px;
  }
  #contacts > .col6.formcontainer .form form input:focus, #contacts > .col6.formcontainer .form form textarea:focus {
    border-color: #00BEC5;
  }
  #contacts > .col6.formcontainer .form form button {
    margin: 0 0 20px;
    background-color: #E7194F;
    text-transform: uppercase;
    line-height: 22px;
    padding: 17px 30px;
    border: none;
    cursor: pointer;
  }
  #contacts > .col6.formcontainer .form form button:hover {
    background-color: #00BEC5;
  }
  #contacts > .col6#map {
    background-image: url(../imgs/map.JPG);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    width: inherit;
    height: auto;
  }
}

/*
#contacts{
    margin-top: $gridgutter * 3;
    background-color: $graylight;
    //display: flex;
    > .col6{
        &.formcontainer{
            padding-right: $gridgutter / 2;
            .form{
                display: block;
                float: right;
                width: $gridwidth / 2 - $gridgutter;
                padding-bottom: $gridgutter * 2;
                form{
                    h2{
                        //font-size: 72px;
                        margin: $gridgutter * 3 0 0;
                    }
                    p{
                        @extend .graydark;
                        margin: $gridgutter * 1.5 0;
                    }
                    input, textarea{
                        @extend .graydark;
                        @extend .animate;
                        margin: 0 0 $gridgutter / 3 * 2;
                        border:$formborderwidth solid $gray;
                        width: 100%;
                        line-height: $formlineheight;
                        padding: ((64 - $formlineheight) / 2 - ($formborderwidth * 2)) $gridgutter / 2;
                        &:focus{
                            border-color: $secondary;
                        }
                    }
                    button{
                        @extend .white;
                        @extend .animate;
                        margin: 0 0 $gridgutter / 3 * 2;
                        background-color: $primary;
                        text-transform: uppercase;
                        line-height: $formlineheight;
                        padding: ((64 - $formlineheight) / 2 - ($formborderwidth * 2)) $gridgutter;
                        border: none;
                        cursor: pointer;
                        &:hover{
                            background-color: $secondary;
                        }
                    }
                }
            }
        }
        &#map{
            background-image: url(../imgs/map.JPG);
            background-size: cover;
            background-position: right top;
            background-repeat: no-repeat;
        }
    }
}
*/
footer {
  background-image: url(../imgs/bgfooter.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*p{
      margin: $gridgutter 0;
  }*/
}
footer h2 {
  margin: 0;
}
footer a {
  text-decoration: none;
  font-size: 32px;
  display: inline-block;
}
footer a:hover {
  color: #E7194F;
  text-decoration: none;
}

footer {
  padding: 20px;
}
footer h2 {
  font-size: 56px;
}
footer a {
  padding: 2.5px;
}

@media only screen and (min-width: 400px) {
  footer {
    padding: 20px;
  }
  footer h2 {
    font-size: 72px;
  }
  footer a {
    padding: 2.5px;
  }
}
@media only screen and (min-width: 800px) {
  footer {
    padding: 40px;
  }
  footer h2 {
    font-size: 72px;
  }
  footer a {
    padding: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  footer {
    padding: 60px;
  }
  footer h2 {
    font-size: 72px;
  }
  footer a {
    padding: 7.5px;
  }
}
footer p {
  margin: 10px 0;
  font-size: 18px;
}

@media only screen and (min-width: 400px) {
  footer p {
    margin: 10px 0;
    font-size: 18px;
  }
}
@media only screen and (min-width: 800px) {
  footer p {
    margin: 20px 0;
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  footer p {
    margin: 30px 0;
    font-size: 18px;
  }
}

/*# sourceMappingURL=styles.css.map */
